/* zrt-cssregistry: */

@media all {

  .z-content-discussion {
    padding-top: 2em;
  }

  .z-comment {
    padding: 1em;
  }

  .even .z-comment {
    border-top: borderWidth dotted globalBorderColor;
    border-bottom: borderWidth dotted globalBorderColor;
  }

  .z-comment table {
    width: 100%;
  }

  .z-comment a {
    color: globalExtraColor;
    text-decoration: none;
  }

  .z-comment a:hover {
    color: linkColor;
  }

  .z-comment-avatar {
    width: 1%;
    padding-right: 1em;
  }

  .z-comment-avatar img {
    padding: 2px;
    border: 1px solid globalBorderColor;
    width: 46px;
    height: auto;
  }

  .z-comment-info {
    font-size: 90%;
    color: discreetColor;
    margin-bottom: 0.5em;
    border-bottom: borderWidth dotted globalBorderColor;
  }

  .z-content-discussion #discussion {
    /*margin-top: 2em;*/
  }

  .z-content-discussion .z-form-label {
    font-weight: normal !important;
  }

  .z-content-discussion textarea {
    width: 100%;
  }

  .comment-notapproved {
    background-color: #FFE4E4 !important;
  }

  .not-approved-configlet {
    width: 100% !important;
  }

  .discussion-widgets-approved {
    display: none;
  }

  ul.social-tabs {
    border-bottom: 1px solid #b0c7dd;
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 100%;
  }
  ul.social-tabs li {
    float: left;
    margin-bottom: -1px;
    padding: 0;
  }
  .social-tabs > li > a {
    border: 1px solid #B0C7DD;
    border-radius: 4px 4px 0 0;
    float: left;
    margin-right: 5px;
    outline: medium none;
    padding: 8px 12px;
  }
  .social-tabs > li.active > a {
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    font-weight: bold;
  }

  #discussion h1.z-form-label {
    display: none;
  }

  .social-pane {
    background-color: #f8f8f8;
    clear: both;
    padding: 15px;
  }
  .social-pane img {
    float: left;
    padding-right: 15px;
    width: 48px;
  }
  .social-pane strong {
    color: #d11d1d;
    display: block;
    font-size: 14px;
    padding-top: 7px;
  }

  a#comment-form {
    display: block;
    margin-top: 50px;
  }

  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  /* for IE6-7 */
  .clearfix {
    zoom: 1;
  }

}
